{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Python
brew install python
export PATH=/usr/local/opt/python/libexec/bin:$PATH

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "gh"
brew "node"

{{ if eq .chezmoi.username "jackdewinter" }}
cask "hyper"
cask "soundsource"
cask "cursor"
cask "setapp"
cask "raycast"
cask "rewind"
cask "orbstack"
cask "iina" # The modern media player for macOS
cask "eloston-chromium"
cask "linear-linear"

{{ end }}

EOF

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Install Powerline Fonts
FILE="$HOME/Library/Fonts/Arimo for Powerline.ttf"
if [ -f "$FILE" ]; then
    echo "Powerline fonts already installed"
else
    echo "Installing Powerline fonts"
    git clone https://github.com/powerline/fonts.git --depth=1
    cd fonts || exit
    ./install.sh
    cd ..
    rm -rf fonts
fi

echo "Installing latest npm packages"

npm update -g
npm install -g @githubnext/github-copilot-cli 

{{ end -}}
